@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html {
  font-size: 8px;
  scroll-behavior: smooth;
  font-family: poppins;
  @media screen and (min-width: 500px) {
    font-size: 0.5vw;
  }
  @media screen and (max-width: 800px) {
    font-size: 7px;
    &:has(#hero) {
      font-size: 5px;
    }
  }
  @media screen and (min-width: 1500px) {
    font-size: 10px;
  }
  @media screen and (min-width: 2500px) {
    font-size: 0.5vw;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  color: transparent;
}
body {
  margin: 0;
  line-height: normal;
  width: 100vw;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  height: max-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #app,
  #app_landing {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    display: flex;
    gap: 2rem;
    background-color: var(--bg-color);
    @media screen and (max-width: 800px) {
      gap: unset;
    }
    .side_tab_wrapper {
      width: 30rem;
      height: max-content;
      min-height: 100vh;
      @media screen and (max-width: 800px) {
        width: max-content;
      }
    }
  }
  #app_landing {
    flex-direction: column;
    background-color: var(--home-bg-color);
    overflow-x: hidden !important;
  }
}
body  script {
  width: 0 !important;
  height: 0 !important;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden !important;
}

.section_title {
  width: 100%;
  height: max-content;
  margin-bottom: 10rem;
  font-size: 2.2rem;
}
.toast_container {
  border-right: 1rem solid var(--label-color);
}

.courses_edit_toast {
  display: flex;
  button {
    width: 12rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fix-content;
    margin-left: 0.3rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--label-color);
  }
}
// img {
//   display: none !important;
// }

:root {
  --primary-color: #272727;
  --faint-accent-color: rgba(228, 95, 20, 0.26);
  --text-color: #333333;
  --active-text-color: #272727;
  --badge-color: #fd7427;
  --label-color: #cac8c8;
  --cta-bg: rgba(94, 95, 96, 0.27);
  --logo-color: #3c4442;
  --bg-color: #f3f3f3;
  --gold-color: #e18c3d;
  --brown-color: #e1a03d;
  --home-bg-color: #fdfdfd;
  --bright-color: #ffffff;
  --active-text-bg: rgba(94, 95, 96, 0.17);
  --tab-icon-color: rgba(98, 76, 64, 0.67);
  --inactive-text-color: #bababa;
  --progress-color: #35ac65;
  --badge-bg-color: rgba(231, 233, 124, 0.42);
  --aside-tab-bg: rgba(159, 233, 124, 0.42);
  --icon-color-here: var(--bg-color);

  //box model
  --padding_S: 1rem;
  --padding_M: 3rem;
  --padding_L: 5rem;
  --padding_XL: 10rem;

  --margin_S: 1rem;
  --margin_M: 3rem;
  --margin_L: 5rem;
  --margin_XL: 10rem;

  // typography
  --font_S: 1.5rem;
  --font_M: 2.2rem;
  --font_L: 3rem;
  --font_ML: 5rem;
  --font_XL: 6rem;
}

@media screen and (max-width: 800px) {
  :root {
    // box model
    --padding_S: 0.25rem;
    --padding_M: 0.75rem;
    --padding_L: 1.25rem;
    --padding_XL: 2.5rem;

    --margin_S: 0.5rem;
    --margin_M: 1.5rem;
    --margin_L: 2.5rem;
    --margin_XL: 5rem;

    // typography
    --font_S: 1.5rem;
    --font_M: 2.2rem;
    --font_L: 3rem;
    --font_ML: 5rem;
    --font_XL: 6rem;
  }
}
