@import "_functions";
@import "_components";
.course_creation_area {
  width: 55vw;
  margin-left: var(--margin_L);
  margin-top: var(--margin_XL);
  display: flex;
  flex-basis: 30rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @include adjustTopMargin();
  .input_form_top {
    display: none !important;
  }
  .input_form.none {
    height: max-content !important;
    --input-wrapper-width-here: 50rem;
    --input-child-height-here: 5rem;
    width: max-content;
    // min-height: 80vh;
    &:has(.input_wrapper.description),
    &:has(.input_wrapper.tags) {
      justify-self: flex-end !important;
      margin-left: auto;
      margin-right: 0;
    }

    .input_wrapper {
      @extend ._input_wrapper;
      height: 100%;
      &.title {
        --input-wrapper-width-here: 55vw;
        --input-child-height-here: 5rem;
        margin-right: auto;
      }
      &.description {
        // width: 30% !important;
        --input-wrapper-width-here: 35vw;
        --input-child-height-here: 12rem;
      }
      &.tags {
        --input-wrapper-width-here: 35vw;
        margin-left: auto;
      }
    }
  }
}

.course_creation_cta_area {
  width: 85%;
  @extend .update_cta_area;
  button {
    height: 5rem !important;
    @extend .button_base;
    &.primary {
      @extend .button_primary;
    }
  }
}


//MOBILE_VIEW_2
@media screen and (max-width: 800px) {
  .course_creation_area {
    width: 100%;
    overflow: hidden;
    min-height: 180vh !important;
    padding: 7rem 0;
    margin-left: unset;
    .input_form {
      --input-wrapper-width-here: 80rem;
      --input-child-height-here: 5rem;
      gap: 3rem;
      min-width: 80vw;
      width: 80vw;
      width: 90% !important;
      margin: 0 auto !important;
      &.one-dual-button {
        width: 85%;
        .dual_buttons {
          flex-wrap: wrap;
          height: 100%;
        }
      }
  
      .input_form_bottom .input_wrapper {
        width: 100%;
      }
    }
  
  }
  }