@import "_functions";

.course_details_styled {
  width: 100%;
  margin: 0 auto;
  height: max-content;
  min-height: 100vh;
  display: flex;
  margin-top: unset;
  gap: 1px;
}

.course_side_tab_styled {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 25%;
  overflow: auto;
  background-color: var(--primary-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .course_side_tab_body {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    & > p {
      font-family: poppins;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 2rem;
      height: 5rem;
      font-size: 2rem;
      color: var(--bg-color);
      /* text-align: center; */
      text-wrap: nowrap;
      text-align: start;
      justify-content: center;
      text-transform: capitalize;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
