@import "_functions";

.faq_section {
  width: 100%;
  height: max-content;
  min-height: 40rem;
  padding: 0 var(--padding_XL);
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 800px) {
    margin-bottom: calc(var(--margin_XL) * 2) !important;
    margin-top: calc(var(--margin_XL) * 2);
  }

  .faq_header {
    position: relative;
    margin-bottom: calc(var(--margin_XL) * 0.8);
    @media screen and (max-width: 800px) {
      margin-bottom: calc(var(--margin_XL) * 1);
    }
    overflow: visible;
    width: 30rem;
    h3 {
      font-size: var(--font_ML);
      font-family: clash_display;
      font-weight: 400;
    }
    span {
      position: absolute;
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      left: -1rem;
      top: 80%;
      svg {
        width: 15rem;
      }
    }
  }

  .faq_accordion_area {
    width: 90%;
    margin: 0 auto;
    height: max-content;
    min-height: 80rem;
    @media screen and (max-width: 800px) {
      width: 100%;
      min-height: 70rem;
    }

    ul.faq_accordion {
      list-style-type: none;
      height: max-content;
      width: 100%;
      padding: calc(var(--padding_S) * 1.5);
      li {
        width: 100%;
        height: 15rem;
        padding: var(--padding_M);
        margin-bottom: var(--margin_S);
        border-radius: 1rem;
        transition: all 0.2s linear;
        cursor: pointer;
        &:has(input:checked) {
          background-color: var(--bright-color);
          box-shadow: 2px 1px 1rem var(--label-color);
          height: max-content;
          .accordion_bottom {
            transform: scaleY(1);
          }
          .accordion_top .accordion_toggle label span {
            background-image: unset;
          }
        }
        .accordion_top {
          padding-top: var(--padding_S);
          width: 100%;
          position: relative;
          border-bottom: 1px solid var(--label-color);
          padding: var(--padding_M);
          * {
            cursor: pointer;
          }
          p {
            font-size: var(--font_M);
            font-family: montserrat;
            font-weight: 500;
            height: max-content;
            min-height: 5rem;
            @media screen and (max-width: 800px) {
              width: 90%;
              margin: 0 auto;
              margin-bottom: var(--margin_M);
            }
          }
          .accordion_toggle {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            height: 2rem;
            overflow: hidden;
            height: 5rem;
            top: 50%;
            transform: translateY(-50%);

            input {
              opacity: 0;
            }
            label {
              width: 100%;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              span {
                width: 2rem;
                height: 2rem;
                display: block;
                overflow: hidden;
                background-image: url("/icons/plus.svg");
                background-position: center;
              }
            }
          }
        }
        .accordion_bottom {
          width: 100%;
          font-size: calc(var(--font_S) * 1.3);
          flex: 1;
          transform: scaleY(0);
          transition: transform 0.15s linear;
          transform-origin: bottom;
          padding: var(--padding_M);
          display: flex;
          align-items: center;
          font-weight: 400;
          @media screen and (max-width: 800px) {
            width: 90%;
            margin: 0 auto;
            margin-bottom: var(--margin_M);
          }
          @media screen and (max-width: 800px) {
            height: 15rem;
          }
        }
      }
    }
  }
}
