@import "_functions";
.header_searchbox_styled {
  width: 30rem;
  height: 5rem;
  border-radius: 0.5rem;
  display: flex;
  border: 1px solid var(--label-color);
  & > input {
    height: 100%;
    width: 80%;
    background-color: unset;
    outline: unset;
    border: unset;
    color: var(--bg-color);
    padding: var(--padding_S);
    padding: 1rem;
  }
  .search_icon {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    input {
      position: absolute;
      content: "";
      display: block;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: transparent;
      cursor: pointer;
      outline: unset;
      border: unset;
      &:focus-visible,
      &:focus {
        & + svg {
          transform: scale(0.4);
        }
      }
    }

    svg {
      cursor: pointer;
      width: 100%;
      height: 100%;
      transform: scale(0.6);
    }
  }
}

.header_styled {
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82.2%;
  position: fixed;
  z-index: 5;
  box-shadow: 0px 1px 3rem #00000094;
  @media screen and (max-width: 800px) {
    width: 100vw;
  }
  &.shrink {
    width: 75%;
    margin-left: auto;
    right: 0;
  }
  overflow: hidden;
  padding: var(--padding_M);
  background-color: var(--text-color);
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  border-radius: 1.5rem;
  @media screen and (max-width: 800px) {
    margin-left: 0;
  }

  .header_left {
    height: 5rem;
    flex: 1;
    &.hidden {
      visibility: hidden;
    }
  }
  .header_right {
    width: 30rem;
    margin-right: var(--margin_XL);
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    .notif_icon_area {
      width: 5rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: visible;
      min-width: 8rem;
      .notif_icon_shadow {
        width: 5rem;
        height: 5rem;
        content: "";
        display: block;
        position: absolute;
        background-color: var(--label-color);
        opacity: 0;
        top: 0;
        left: 25%;
        -webkit-mask: url("/icons/notification-bell.svg") center/contain
          no-repeat;
        mask: url("/icons/notification-bell.svg") center/contain no-repeat;
        mask-size: cover;
        transform-origin: top;
        transition: transform 0.3s ease-out;
        z-index: 0;
      }
      svg {
        width: 5rem;
        height: 5rem;
        min-width: inherit;
        transform: scale(0.8);
        cursor: pointer;
        z-index: 1;
        &:hover {
          & + .notif_icon_shadow {
            transform: rotateZ(-15deg);
            opacity: 0.4;
          }
        }
      }
    }
    .profile_summary_area {
      flex: 1;
      overflow: hidden;
      display: flex;
      max-width: max-content;
      min-width: fit-content;
      span {
        font-size: 2rem;
        color: var(--label-color);
        width: max-content;
        margin-left: 5rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: var(--margin_S);
      }
      .profile_image_div {
        min-width: 5rem;
        height: 100%;
        position: relative;
        img {
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          border-radius: 0.5rem;
          border: 1px solid var(--label-color);
        }
        a {
          position: absolute;
          content: "";
          display: block;
          width: max-content;
          min-width: 100%;
          height: 100%;
          top: 0;
          z-index: 2;
        }
      }
    }
  }
}

// MOBILE_VIEW
@media screen and (max-width: 767px) {
  .header_searchbox_styled {
    width: 100%;
    height: 4rem;
    
    & > input {
      width: 75%;
      padding: 0.8rem;
    }
    
    .search_icon {
      width: 25%;
      
      svg {
        transform: scale(0.5);
      }
      
      input:focus-visible + svg,
      input:focus + svg {
        transform: scale(0.35);
      }
    }
  }
  
  .header_styled {
    height: 9rem;
    width: 100%;
    padding: var(--padding_S);
    border-radius: 0;
    
    &.shrink {
      width: 100%;
      margin-left: 0;
    }
    
    .header_left {
      height: 4rem;
    }
    
    .header_right {
      width: auto;
      margin-right: var(--margin_M);
      height: 4rem;
      
      .notif_icon_area {
        width: 4rem;
        min-width: 6rem;
        
        .notif_icon_shadow {
          width: 4rem;
          height: 4rem;
        }
        
        svg {
          width: 4rem;
          height: 4rem;
          transform: scale(0.7);
        }
      }
      
      .profile_summary_area {
        span {
          font-size: 1.6rem;
          margin-left: 2rem;
          margin-right: var(--margin_XS);
        }
        
        .profile_image_div {
          min-width: 4rem;
          margin-left: 2rem;
          
          img {
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }
  }
}
