@import "_functions";
@import "_typography";

.hero_styled {
  // @include debug;
  height: 90rem;
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 800px) {
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: calc(var(--margin_XL) * 2.5);
    overflow: visible;
  }
  .hero_bg {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 80%;
    object-fit: cover;
    top: 0;
    z-index: 1;
    opacity: 0.7;
    filter: blur(2px);
  }
  .hero_left,
  .hero_right {
    z-index: 2;
    position: relative;
    height: 80%;
  }
  .hero_left {
    margin-left: var(--margin_XL);
    min-height: 50%;
    height: max-content;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @media screen and (max-width: 800px) {
      margin-top: calc(var(--margin_XL) * 1.5);
    }
    gap: 5rem;
    .hero_lt {
      width: 100%;
      span {
        width: max-content;
        padding: 0 1rem;
        border-radius: 2rem;
        border: 2px solid var(--primary-color);
        font-size: var(--font_S);
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .hero_lb {
      width: 100%;
      font-size: var(--font_XL);
      height: max-content;
      font-family: clash_display;
      color: var(--primary-color);
      h2 {
        font-weight: 400;
        text-transform: capitalize;
      }
    }
  }
  .hero_right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  @media screen and (max-width: 800px) {
    height: 50%;
    flex-direction: column;
    align-items: flex-start;
  }
    img {
      height: 100%;
    }
  }
}
