@import "_components";
@import "_functions";
header {
  width: 100%;
  height: 12rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding_XL);
  background-color: var(--home-bg-color);
  z-index: 3;

  .logo_parent {
    height: 80%;
    width: 20rem;
    display: flex;
    align-items: flex-start !important;
    justify-content: center;
    img {
      height: 80%;
      max-width: 80%;
      margin-right: auto;
    }
  }
  .header_child {
    height: 80%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_links_area {
      flex: 1;
      justify-self: flex-start;
      height: 100%;
      font-family: Poppins;
      font-weight: 500;
      @media screen and (max-width: 800px) {
        position: fixed;
        width: 100vw;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        height: 10rem;
        ul {
          width: 100%;
          height: 100%;
          justify-content: space-evenly !important;
          gap: unset;
          backdrop-filter: blur(5px);
          li {
            margin-right: unset;
            margin: 0 auto !important;
            text-align: center;
            a {
              font-size: calc(var(--font_M) * 1.15);
            }
          }
        }
      }
      ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        font-size: var(--font_M);
        height: inherit;
        align-items: center;
        li {
          text-transform: capitalize;
          margin-right: 8%;
          a {
            text-decoration: unset;
            color: var(--text-color);
            &.active {
              font-weight: bolder;
            }
          }
        }
      }
    }
    .header_cta_area {
      width: 40rem;
      display: flex;
      justify-self: flex-end;
      margin-left: auto;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      gap: 3rem;
      align-items: center;
      button {
        @extend ._button;
        height: 5rem !important;
        min-width: fit-content;
        padding: 0.5rem 2rem;
        border-radius: 0.8rem;
        box-shadow: 1px 0px 3px var(--label-color);
      }
    }
  }
}
