@import "_functions";
@import "_components";

.question_addition_modal {
  width: 80vw;
  @media screen and (min-width: 990px) {
    min-width: 80%;
    width: 80%;
  }
  height: clamp(85vh, 40rem, 100rem);
  border-radius: 0.8rem;
  background-color: var(--bright-color);
  position: fixed;
  box-shadow: 0.2rem 0.2rem 1rem var(--active-text-bg);
  background-color: var(--bright-color);
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  transition: all 0.3s linear;
  &.hidden {
    transform: translate(-40%, -50%) scale(0);
  }
  padding: var(--padding_L);
  @media screen and (max-width: 800px) {
    transform: translate(-50%, -50%);
    &.hidden {
      transform: translate(-50%, -50%) scale(0);
    }
  }
  &_top {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    margin-bottom: 3rem;
    h2 {
      font-size: 2.2rem;
      font-weight: 500;
      font-family: Poppins;
      text-transform: capitalize;
    }
    span {
      font-size: 5rem;
      color: var(--label-color);
      width: 5rem;
      height: 5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      --icon-fill-here: var(--label-color);
      svg {
        width: 100%;
        height: 100%;
        transform: scale(0.6);
      }
    }
  }
  &_middle {
    width: 100%;
    min-height: 70%;
    height: 80%;
    overflow-y: auto;
    h2 {
      width: 100%;
      height: 5rem;
      overflow: hidden;
      margin-bottom: 2rem;
      display: flex;
      font-size: 2rem;
      font-family: Inter, "sans-serif";
      font-weight: 500;
      align-items: center;
      gap: 30%;
      button {
        width: 5rem;
        height: 5rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        --icon-color-here: var(--text-color);
        padding: unset;
        border: unset;
        svg {
          width: 3rem;
          height: 3rem;
        }
      }
    }
    .content_addition_area {
      list-style-type: none;
      height: 40%;
      min-height: 30rem;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 3rem;
      background-color: #00000002;
      border-bottom: 1px solid var(--label-color);
      padding-bottom: var(--padding_M);
      // @include debug;
    }
  }
  &_bottom {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
    margin-top: 3rem;
    button {
      min-height: 5rem;
      &:first-of-type {
        @extend .button_base;
        border: unset;
        width: max-content;
        padding: 1rem 2rem;
        background-color: unset;
      }
      &:last-of-type {
        @extend .button_primary;
      }
    }
  }
}

.input_form {
  @extend ._input_form;
}
